{% extends "base.html" %}

{% block content %}
<div>
<h1 class="title">Hello {{name}}!</h1>
<h1 class="title">Here is some information about me:</h1>
</div>

<img class="centrado" src="../static/profile.jpeg"
    style="width: 400px; height: 300px;",
    title="Profile Picture">

<h2 class="st">Personal Information</h2>
<h3 class="item">Age</h3>
<p class="info">21</p>
<h3 class="item">Location</h3>
<p class="info">Chinchiná - Caldas</p>
<h3 class="item">Status</h3>
<p class="info">Open to Work</p>


<h2 class="st">Studies</h2>

<h3 class="item">High School at Colegio Santa Teresita Chinchiná</h3>
<p class="info">Finished  on December, 2016</p>

<h3 class="item">Electronic Engineering at Universidad Nacional de Colombia sede Manizales</h3>
<p class="info">Started August, 2017 - Currently in 10th Semester</p>

<h2 class="st">Work Experience</h2>
<h3 class="item">Theory Signaling Assistant Teacher</h3>
<p class="info">At Universidad Nacional de Colombia sede Manizales, since March, 2021 - Present</p>

<h2 class="st">Short Courses</h2>
<h3 class="item">Coursera</h3>
<p class="info">Introduction to Data Science with Python| 40 hours course</p>
<h3 class="item">Coursera</h3>
<p class="info">Applied Machine Learning with Python| 40 hours course</p>
<h3 class="item">Servicio Nacional de Aprendizaje (SENA)</h3>
<p class="info">Short Introduction to Industrial Automation| 40 hours course</p>

<h2 class="st">Languages</h2>
<h3 class="item">Spanish</h3>
<p class="info">Native</p>
<h3 class="item">English</h3>
<p class="info">B1+ certified</p>
<h3 class="item">German</h3>
<p class="info">A2 - Currently taking B1 at Centro Colombo Alemán</p>

<h2 class="st">More Information</h2>
<h3 class="item">Github <a href="https://github.com/sbuitragoo"><img src="../static/logo_git.png" style="height: 20px; width: 20px;" ></a></h3>
<p class="info"><a href="https://github.com/sbuitragoo">Sbuitragoo</a></p>
<h3 class="item">LinkedIn <a href="https://www.linkedin.com/in/sbuitragoo/"><img src="../static/logo_linkedin.png" style="height: 20px; width: 20px;"></a></h3> 
<p class="info"><a href="https://www.linkedin.com/in/sbuitragoo/">LinkedIn Profile</a></p>
<h3 class="fitem">Contact</h3>
<p class="final">Sbuitragoo@unal.edu.co</p>
<p class="final">3207346405</p>
{% endblock %} 

